* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background-color: darkcyan;
    text-align: center;
    height: 100%;
    padding: 100px 0 0 0 ;
}

.modal__wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 500px;
    min-height: 300px;
    border-radius: 50px;
    padding: 60px;
    background-color: #fff;
}

.show {
    display: flex;
}

.new__modal__wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.new__modal_true {
    width: 100%;
    min-height: 300px;
    background-color:green;
}

.new__modal {
    width: 100%;
    min-height: 300px;
    background-color:salmon;
}

.show__new {
  display: block;
}

.slider1__content {
    width: 500px;
    height: 300px;
    background: url(../img/1.webp) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 2s ease;
}   

.slider1__titel {
    width: 100%;
    background: rgba(255, 237, 237, 0.61);
    padding: 10px;
    transition: 2s ease;
}

.slider2{
    width: 500px;
    overflow: hidden;
}

.slider2__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    animation: 10s linear slider2 alternate infinite;
}

.slider2__list:hover {
    animation-play-state: paused ;
}

@keyframes slider2 {
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-1500px);
    }
}

.slider2__item {
    width: 500px;
    border: 1px solid black;
    padding: 8px;
    flex-shrink: 0;
}

.slider2__img {
    width: 100%;

}


.slider3{
    width: 1000px;
    overflow: hidden;
    position: relative;
}

.slider3__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    transition: 3s all;
}

.slider3__item {
    width: 500px;
    border: 1px solid black;
    padding: 8px;
    flex-shrink: 0;
}

.slider3__img {
    width: 100%;
}

.slider3-radio {
    display: none;
}

.slider3-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50px ;
    border: 1px solid black;
    background-color: cornflowerblue;
    top: 50%;
    z-index: 1;
}

.slider3-btn:hover {
    background-color: dodgerblue;
}

.slider3-btn--next{
    right: 5px;
}

.slider3-btn--prev{
    left: 5px;
}


#slider-btn-prev:checked .slider3__list {
    transform: translate(-500px); 
}

#slider-btn-next:checked .slider3__list {
    transform: translate(500px); 
}

.slider3__list{
    transform: translate(0,0);
}

h1 {
    color:black;
}